.navbar{
    background-color: blue;
    color: white;
    text-align: center;
}

.container{
    background-color: black;
    color: aliceblue;
}

.title{
    text-align: center;
}

.btn{
    padding: 5px;
    margin-top: 5px;
    width: 100px;
    height: 35px;
    margin-top: -3px;
}

.btn:hover{
    background-color: rgb(1, 1, 14);
}

.add-todo{
    text-align: center;
    margin-top: 3rem;
}

input{
    width: 300px;
    height: 35px;
    border: 2px solid black;
}

.work-list{
    margin-top: 3rem;
    margin-left: -20px;
}

.list-title{
    text-align: center;
}

.work-list li{
    list-style: none;
    
}

.activity-list{
    margin-left: 300px;
    margin-top: 15px;
    text-align: left;
}
.header{
    background-color: blue;
    color: white;
    text-align: center;
    height: 50px;
    padding: 7px;
}
